<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:each="server: ${servers}">
            <p th:text="${server.hostname} + ' built by user ' + ${server.userSid}" />
        </div>
    </body>
</html>
